@font-face {
  font-family: 'ProximaCondensedExtraBold';
  src: url('./proxima-nova-condensed-extrabold.woff');
}

.ev {
  background: #dedede;
  font-family: Helvetica, Arial, serif;
  width: 665px;
  margin: 0 auto;
  padding: 0;
}
.ev__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}
.ev__title {
  font-family: 'ProximaCondensedExtraBold', Arial, serif;
  margin: 5px 0;
  font-size: 24px;
  flex: 0 1 auto;
  padding-right: 20px;
  white-space: nowrap;
}
.ev__blurb {
  flex: 1 1 auto;
  font-size: 14px;
  color: #9c9c9c;
}
.ev__content {
  position: relative;
}
.canvas-onion {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
