@font-face {
  font-family: 'ProximaCondensedExtraBold';
  src: url('./proxima-nova-condensed-extrabold.woff');
}

.ev {
  background: #dedede;
  font-family: 'ProximaCondensedExtraBold', Arial, serif;
}
.ev__title {
  margin: 5px 0;
  font-size: 24px;
}
.ev-content {
  position: relative;
}
.canvas-onion {
  position: absolute;
  top: 0;
  left: 0;
}
